/* Stylesheet for the 'ICustomTheme' Plone browser layer */

html, body {
	height: 101%;
	font: 100% sans-serif;
}

div.width-full {
	width: 100%;
}

div#portal-top {
	background: #1e1f3b url(admin-alpha-header.png) no-repeat right top;
	margin: 0.5% 0.5% 4px 0.5%;
	border-radius: 1ex 1ex 0 0;
	width: 99%;
	box-shadow: 0 2px 2px black;
	position: relative;
}

div#portal-top h1 {
	color: white;
	margin-bottom: 0.5ex;
	margin-left: 1ex;
	font-weight: normal;
	text-shadow: 0px 1px 5px black;
}

li#personaltools-preferences {
	display: none;
}

ul#portal-globalnav {
	background: transparent;
}

ul#portal-globalnav li.plain a {
	background: #f9a71f;
	background: transparent;
}

div#portal-searchbox {
	position: absolute;
	right: 10px;
	bottom: -10px;
}

div#portal-searchbox label {
	color: white;
}

div#portal-searchbox input.searchButton {
	display: none;
}

div#portal-footer-wrapper {
	display: none;
}

div#portal-body {
	clear: both;
	background: #a2b2b4;
	background: #3e5975 url(admin-alpha-header.png) no-repeat right -95px;
	box-shadow: 0 2px 2px black;
	margin: 0 0.5% 0.5% 0.5%;
	border-radius: 0 0 1ex 1ex;
	width: 99%;
	position: relative;
}

#portal-body-top h1 {
	padding-left: 10px;
	color: white;
	text-shadow: 0px 1px 5px black;
}

#portal-breadcrumbs {
	padding-left: 10px;
	height: 22px;
	line-height: 22px;
	color: white;
}

#portal-breadcrumbs .breadcrumbSeparator {
	color: #ddd;
}

#portal-breadcrumbs a {
	color: white;
}

div#portal-columns #portal-breadcrumbs {
	display: none;
}

div#portal-columns {
	background: white;
	margin: 0.5%;
	width: 99%;
}

div.position-0 {
	margin-left: -100%;
}

div#portal-columns .documentFirstHeading {
	display: none;
}

#portal-body-top {
	padding-left: 1em;
}

div#edit-bar {
	border-radius: 0;
}

#portal-personaltools {
	border-radius: 5px;
}

/*
#content p.table-bottom a {
	display: inline-block;
	width: 16px;
	text-indent: -11110px;
	text-decoration: none;
	border: 0;
}

a.first { background: url(go-first-symbolic.png) top left no-repeat; }
a.last { background: url(go-last-symbolic.png) top left no-repeat; }
a.next { background: url(go-next-symbolic.png) top left no-repeat; }
a.prev { background: url(go-previous-symbolic.png) top left no-repeat; }
*/

div.table {
	border: 1px solid black;
	width: 98%;
}

#content div.table div.table-top,
#content div.table p {
	margin: 0 0;
	padding: 5px 1ex;
	background: #3e5975;
	color: white;
}

div.table table {
	width: 100%;
}

div.table table {
	border: 1px solid black;
	border-width: 1px 0;
}

/* make the TH elements pretty */
table.listing thead th,
div.table-container table thead th {
	background: #1e2d3a;
	color: white;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}

/* make the A elements pretty. makes for nice clickable headers                */
#content table.listing thead th a,
div.table-container table thead a,
div.table-container table thead a:link,
div.table-container table thead a:visited {
	color: #FFF;
	text-decoration: none;
}



/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
div.table-container table thead a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
div.table-container table td, div.table-container table tr td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

div.table-container table tr.even td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

#portal-down {
	position: absolute;
	top: 0px;
	left: 0;
	margin: 0;
	z-index: 100;
}

#portal-down a.open {
	background-color: #1e2d3a;
	color: #e8e8e7;
	border-radius: 5px;
	display: inline-block;
	width: 20px;
	padding: 3px 0px;
	text-align: center;
}

#content ul#extra-columns,
#content ul#batchsizes,
#contentActionMenus dl.actionMenu.activated .actionMenuContent,
#favorites {
	background: #d7d7d7;
	background: rgba(210, 210, 210, 0.9);
	border-bottom: none;
	box-shadow: 0 2px 2px black;
}

#favorites {
	z-index: -100;
}

#favorites hr {
	border: 0;
	color: #eef;
	background: #eef;
	height: 1px;
	margin-left: 3px;
}

#favorites li {
	display: block;
	padding: 4px 10px;
	margin-left: 4px;
}

#favorites li:hover {
	background: white;
}

#favorites li a {
        display: block;
}

#content .actions {
	float: right;
}

#content .actions a {
	display: inline-block;
	width: 16px;
	text-indent: -11110px;
	text-decoration: none;
	border: 0;
}

.actions a.plus { background: url(list-add-symbolic.png) top left no-repeat; }
.actions a.gear { background: url(system-run-symbolic.png) top left no-repeat; }
.actions a.list { background: url(view-list-symbolic.png) top left no-repeat; }
.actions a.columns { background: url(view-columns-symbolic.png) top left no-repeat; }

ul#extra-columns label {
	font-weight: normal;
}

#content .table td a.trash {
	display: none;
	width: 12px;
	text-indent: -11110px;
	text-decoration: none;
	border: 0;
	background: url(user-trash-symbolic.png) top center no-repeat;
	padding: 0 3px;
}

#content .table tr:hover a {
	display: inline-block;
}

#content .table tr:hover td {
	background: #eee;
}

#content .table table {
	margin-bottom: 0;
}

ul#portal-globalnav {
	margin-left: 10px;
}

ul#portal-globalnav li a {
	padding: 0 5px;
	height: 32px;
	line-height: 32px;
	color: #e8e8e7;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

ul#portal-globalnav li#portaltab-index_html,
ul#portal-globalnav li#portaltab-mystuff,
ul#portal-globalnav li#portaltab-annuaire,
ul#portal-globalnav li#portaltab-documents,
ul#portal-globalnav li#portaltab-help {
	width: 32px;
	margin-right: 10px;
}

ul#portal-globalnav li#portaltab-mystuff a,
ul#portal-globalnav li#portaltab-index_html a,
ul#portal-globalnav li#portaltab-annuaire a,
ul#portal-globalnav li#portaltab-documents a,
ul#portal-globalnav li#portaltab-help a {
	background: transparent url(go-home.png) top left no-repeat;
	width: 32px;
	text-indent: -10000px;
	display: block;
	min-width: 0;
	border: none;
}

ul#portal-globalnav li#portaltab-mystuff a {
	background-image: url(folder.png);
}

ul#portal-globalnav li#portaltab-annuaire a {
	background-image: url(system-users.png);
}

ul#portal-globalnav li#portaltab-documents a {
	background-image: url(emblem-documents.png);
}

ul#portal-globalnav li#portaltab-help a {
	background-image: url(help-browser.png);
}

ul#portal-globalnav li#portaltab-index_html a:hover,
ul#portal-globalnav li.selected#portaltab-index_html a {
	background-image: url(go-home-selected.png);
}

ul#portal-globalnav li#portaltab-annuaire a:hover,
ul#portal-globalnav li.selected#portaltab-annuaire a {
	background-image: url(system-users-selected.png);
}

ul#portal-globalnav li#portaltab-documents a:hover,
ul#portal-globalnav li.selected#portaltab-documents a {
	background-image: url(emblem-documents-selected.png);
}

ul#portal-globalnav li#portaltab-mystuff a:hover,
ul#portal-globalnav li.selected#portaltab-mystuff a {
	background-image: url(folder-selected.png);
}

ul#portal-globalnav li#portaltab-help a:hover {
	background-image: url(help-browser-selected.png);
}

ul#portal-globalnav li.selected a,
ul#portal-globalnav li.selected a:hover,
ul#portal-globalnav li a:hover {
	background: #f9a71f;
}

ul#portal-globalnav li {
	display: inline-block;
	margin: 0;
	height: 32px;
}

.previewresults {
	border: none;
	height: auto;
}

div.searchSection {
	display: none;
}

ul#content-views {
	background-color: transparent;
}

ul#content-views li {
	margin-right: 5px;
	display: inline-block;
}

ul#content-views li a:hover,
ul#content-views li a {
	background-color: #1e2d3a;
	border-radius: 5px;
	color: white;
}

ul#content-views li a:hover { /* button */
	box-shadow: 0px 0px 5px #666;
}

ul#content-views li.selected a {
	background-color: #1e2d3a;
	color: white;
}

ul#content-views #contentview-folderContents,
ul#content-views #contentview-view,
ul#content-views #contentview-contentrules,
ul#content-views #contentview-contentrules,
ul#content-views #contentview-local_roles {
	display: none;
}

body.portaltype-folder ul#content-views #contentview-local_roles {
	display: inline-block;
}

#edit-bar {
	background: transparent;
	border: none;
	height: 0px;
	min-height: 0;
	margin: 0;
}

div.contentActions {
	position: absolute;
	right: 0;
}

#contentActionMenus {
	position: relative;
	right: 0px;
	background: #1e2d3a;
	border-radius: 5px;
}

#contentActionMenus dl {
	margin-left: 3px;
}

#contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd {
	background-color: inherit;
}

#contentActionMenus dl.actionMenu.activated .actionMenuContent a {
	color: black;
	font-size: 100%;
}

#contentActionMenus dl.actionMenu.activated dt.actionMenuHeader a {
	border-color: #1e2d3a;
	background-color: #1e2d3a;
}

#plone-contentmenu-workflow dt.actionMenuHeader a {
	width: 16px;
	text-indent: -11110px;
	background: url(system-run-symbolic.png) center center no-repeat;
}

#contentActionMenus dd.actionMenuContent li a.no-icon span {
	padding-left: 19px;
}

#contentActionMenus a.first-action,
#contentActionMenus a.first-workflow-action,
#contentActionMenus a.first-add-action {
	border-top:  1px solid white;
	margin-top: 0.5ex;
	padding-top: 0.5ex;
}

#contentActionMenus dd ul li:first-child a {
	border: none;
}

dl#plone-contentmenu-display {
	display: none;
}

#fieldset-versions {
	margin-top: -10em;
}

#fieldset-versions table.listing {
	width: 100%;
}

#criterias-fieldset legend {
	cursor: pointer;
}

#dashboard {
	font-size: 100%;
}

#dashboard-portlets1 {
	width: 22.75%;
	padding: 0;
}

#dashboard-portlets2 {
	width: 74%;
	float: right;
	padding: 0;
}

#dashboard-portlets3,
#dashboard-portlets4 {
	display: none;
}

dl dt.portletHeader {
	box-shadow: 0 0 2px black;
}

#dashboard dl dd.portletItem {
	margin: 0;
}

dl.portletFolderLinks dd {
	text-align: left;
}

#dashboard table.listing {
	width: 100%;
}

#dashboard dl.portletCollection dd.portletItem {
	padding: 1em 0;
}

#dashboard dl.portletCollection dd.portletFooter {
	padding: 0;
	margin: 0;
	margin-left: 1em;
}

#form-widgets-folder-contenttree-window {
	z-index: 15000;
}

#LSResult {
	margin-top: 0;
}

#portal-body tr.row-state-published td { background: #b54040; }
#portal-body tr.row-state-abandoned td { background: #aaaaaa; }
#portal-body tr.row-state-attributed td { }
#portal-body tr.row-state-done td { background: #62ae17; }
#portal-body tr.row-state-in-progress td { background: #e38623; }
#portal-body tr.row-state-refusal-requested td { }
#portal-body tr.row-state-todo td { background: #de0707; }
#portal-body tr.row-state-answered td { background: #62ae17; }
#portal-body tr.row-state-assigning td { background: #de0707; }
#portal-body tr.row-state-noaction td { background: #aaaaaa; }
#portal-body tr.row-state-processing td { background: #ff6600; }
#portal-body tr.row-state-registering td { }
#portal-body tr.row-state-ready_to_sent td { }
#portal-body tr.row-state-sent td { background: #62ae17; }
#portal-body tr.row-state-writing td { background: #e38623; }

#portal-body tr.row-state-published td a,
#portal-body tr.row-state-abandoned td a,
#portal-body tr.row-state-done td a,
#portal-body tr.row-state-in-progress td a,
#portal-body tr.row-state-todo td a,
#portal-body tr.row-state-answered td a,
#portal-body tr.row-state-assigning td a,
#portal-body tr.row-state-noaction td a,
#portal-body tr.row-state-processing td a,
#portal-body tr.row-state-sent td a,
#portal-body tr.row-state-writing td a {
	color: #10171f;
}

#portal-advanced-search {
	display: block;
	width: auto;
	height: auto;
	padding-top: 5px;
}

#portal-advanced-search a {
	color: white;
}

button.selected {
	border-style: inset;
}

#DV-container {
	width: auto !important;
}

.portaltype-folder #content h1 {
        display: none;
}

ul#portal-globalnav li#portaltab-dossiers {
	display: none;
}

dl.portlet {
	font-size: 90%;
}

dl.portletFolder dd.portletItem,
dl.portletFolderLinks dd.portletItem {
	padding: 1ex 1em;
}

dl.portletFolder dd.portletFooter,
dl.portletFolderLinks dd.portletFooter {
	padding: 0;
}

dl.portletFolder dd.current-folder {
	margin: 2px auto;
	background: #3e5975;
	color: white;
	border-radius: 1ex;
}

td.icon-column {
	width: 20px;
	text-align: center;
}

#content {
	font-size: 100%;
	margin: 0;
	margin-bottom: 1em;
}

div#plone-document-byline {
	margin-bottom: 1ex;
}

div#pfwbged-criterias .metatypes,
div#documents-table-view .criteria-content,
div#contact-table-view .criteria-content,
div#contact-table-view .metatypes {
	margin: 1em 0;
}

div.subtype label,
.metatypes label {
	margin: 0 1em;
}

div.subtype label {
	display: inline-block;
	width: 20em;
}

div.subtype input,
.metatypes input {
	margin-right: 1ex;
}

div#documents-table-view .criteria-content input,
div#contact-table-view .criteria-content input {
	margin-left: 1em;
}

div#pfwbged-criterias fieldset {
	cursor: pointer;
	margin: 0;
}

div#pfwbged-criterias fieldset legend:before {
	content: "▶  ";
}

div#pfwbged-criterias fieldset legend.expanded:before {
	content: "▼  ";
}

fieldset.text-fieldset label {
	width: 10em;
	display: inline-block;
	margin-bottom: 1ex;
}

div.overlay a.managePortletsFallback,
div.overlay dl.portalMessage {
	display: none;
}

body.template-dashboard #edit-bar {
	position: absolute;
	right: -5px;
	top: -75px;
}

body.template-manage-dashboard #edit-bar li.selected,
body.template-dashboard #edit-bar li.selected {
	display: none;
}

#document-viewlets {
	width: 50%;
}

#document-viewlets fieldset table {
	width: 100%;
}

#fieldset-versions a.version-link {
	color: black;
	cursor: text;
}
#fieldset-versions a.version-link:hover {
	color: black !important;
}

#dashboard select option[value$='pfwbged.theme.folderlinks.FolderLinks'],
#dashboard select option[value$='pfwbged.theme.foldernav.Navigation'],
#dashboard select option[value$='pfwbged.folder.portlet.Navigation'] {
	display: none;
}

#content-core form[class$='adddmsmainfile'] ul.formTabs,
#content-core form[class$='++add++dmsappendixfile'] ul.formTabs {
	display: none;
}

input.button-field {
	padding: 0.5ex 1ex;
	margin-right: 1em;
}

body.portaltype-pfwbgedfolder #content div.documentByLine,
body.portaltype-folder #content div.documentByLine,
body.portaltype-dmsthesaurus #content div.documentByLine,
body.portaltype-dmskeyword #content div.documentByLine,
body.portaltype-directory #content div.documentByLine {
	display: none;
}

li#contentview-edit a {
	margin-bottom: 1ex;
}

#content table.listing a:hover {
	color: black !important;
	text-decoration: underline;
}
